<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.juaagugui.httpService">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <service android:name=".services.RESTIntentService" />
    </application>

</manifest>